/*#pills-posts, #pills-following, #pills-profile, #narrow {*/
/*    max-width: 512px;*/
/*    margin-left: auto;*/
/*    margin-right: auto;*/
/*}*/

body {
    overflow-y: scroll; /* Always show the vertical scrollbar */
}

/* Define the CSS class for the active page */
.active-page {
    display: block; /* or any other desired display property */
}

/* Example styling for the active page */
.active-page {
    max-width: 512px;
    margin-right: auto;
    margin-left: auto;
}

/* Example styling for other pages */
#pills-tabContent > div:not(.active-page) {
    display: none;
}
